@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.w-web {
  width: -webkit-fill-available;
}

.menu-item {
  padding: .5rem .75rem;
  border-radius: 100vw;
  transition: all 200ms;
}

/* .menu-item:hover {
  background: #4a5ff7;
  cursor: pointer;
} */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-container {
  /* @apply mx-auto relative overflow-hidden z-[1] py-0 px-15 */
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
  display: flex;

  padding: 0 60px !important
}

.swiper-slide {
  width: 60%;
}

#navdata {
  display: none;
}

.navdata-top {
  display: none;
}

.navdata-bottom {
  display: none;
}


.navdata-top {
  /* top: 20px; */
  position: absolute;
  left: 0;
  right: 0;
  /* height: 100px; */
  border-radius: 30px;
  /* padding: 10px; */
  background: rgb(255, 255, 255);
}

.clipping {
  clip-path: xywh(24px 24px 948.65625px 81.328125px round 2.5rem);
  opacity: 0;
}

.transclip {
  clip-path: xywh(0px 0px 100% 100% round 4rem);
  opacity: 1;
}

.shadow {
  filter: drop-shadow(0px 4px 54px rgb(0, 0, 0, 100%));
}

.arrowbutton {
  background-image: url(./../assets/WhyRealtern/icon-arrow-light.svg);
}

.arrowdark {
  background-image: url(./../assets/WhyRealtern/icon-arrow-dark.svg);
}

.navdata-bottom {
  position: absolute;
  left: 0;
  right: 0;
  height: 300px;
  border-radius: 30px;
  background: white;
}

.bg-blur::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: blur 400ms forwards;
  z-index: 20;
}

@keyframes blur {
  from {
    backdrop-filter: blur(0px);
    background: transparent;
  }

  50% {
    backdrop-filter: blur(10px);
  }

  to {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.144);
  }
}

.custom-pagination {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #d3d3d3;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  width: 40px;
  height: 10px;
  background: #ffffff;
  border-radius: 10px;
}

.custom-pagination-second {
  position: relative;
  top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-pagination-second .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #2f09efbf;
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.custom-pagination-second .swiper-pagination-bullet-active {
  width: 40px;
  height: 10px;
  background: #2f09efbf;
  border-radius: 10px;
}